header {
  background-color: green;
  margin: 0;
  padding: 2%;
  color:#f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* .section-right {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  width: 250px;
  height: 55px;
} */

.user-container {
  display: flex;
}

.logoutBtn {
  margin-left: 15px;
  padding: 2% 3%;
}


nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 2.5%;
  color: #f1f1f1;
  text-decoration: none;
}

ion-icon {
  font-size: 24px;
  margin-right: 7.5px;
}


@media screen and (max-width: 480px)  {
  
  h1 {
    font-size: 0.8rem;
  }

  header {
    padding: 10% auto;
  }

  .section-right {
    color: #f1f1f1;
  }

  .logoutBtn {
    color: #f1f1f1;
    border: 1px solid black;
    background-color: green;
  }

  .user-container {
    font-size: 24px;
    align-items: center;
  }
 
}


@media screen and (max-width: 1025px) {
  h1 {
    font-size: 1.1rem;
  }
  

  .user-container {
    font-size: 12px;
    align-items: center;
  }

  .logoutBtn {
    color: #f1f1f1;
    border: 1px solid black;
    background-color: green;
  }
}